main {
  padding: 44px 0px 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: var(--width-minimum);
}
main > .wrapper-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
main > .wrapper-words > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .wrapper-words > .row > .column {
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-content-main);
  border-radius: 5px;
  margin: 2px;
  color: var(--color-content-main);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}
main > .wrapper-words > .row > .column.gray {
  background-color: var(--color-gray);
  border: 2px solid var(--color-gray);
}
main > .wrapper-words > .row > .column.yellow {
  background-color: var(--color-yellow);
  border: 2px solid var(--color-yellow);
}
main > .wrapper-words > .row > .column.green {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
}
main > .timer {
  color: var(--color-content-main);
  font-size: 1.3em;
  margin-top: 40px;
}
